evaluate/Cargo.lock
evaluate/*.jar
evaluate/target/
evaluate/*.class
evaluate/urltestdata.json
parser.pegjs
reference-implementation/IdnaMappingTable.txt
reference-implementation/punycode.js
reference-implementation/unorm.js
reference-implementation/idna.js
reference-implementation/url.js
reference-implementation/urlparser.js
reference-implementation/test/urltestdata.txt
reference-implementation/test/urltestparser.js
url.bs
url.pegjson
