# emacs detritus
*~
*#

docs/url-problem-statement.html
docs/url-problem-statement.txt

evaluate/rfc3986.js
evaluate/Cargo.lock
evaluate/*.jar
evaluate/target/
evaluate/*.class
evaluate/*.exe
evaluate/urlsettest.json
evaluate/urltestdata.json
evaluate/uri_validate.js
evaluate/uri_validate.py

parser.pegjs

reference-implementation/IdnaMappingTable.txt
reference-implementation/punycode.js
reference-implementation/unorm.js
reference-implementation/idna.js
reference-implementation/url.js
reference-implementation/urlparser.js
reference-implementation/test/urltestdata.txt
reference-implementation/test/urltestparser.js
reference-implementation/test/urlsettest.js
url.html
url.pegjson

node_modules/
